/*  Do with this what you will. Positioning aside, the styling is completely negotiable.  
    Hell, if you wanna get really crazy, you could change the positioning too! */
.dialog {                   
    position:               absolute;
    padding:                1em;
    -moz-box-shadow:        4px 4px 16px rgba(0,0,0,0.5);
    -webkit-box-shadow:     4px 4px 16px rgba(0,0,0,0.5);
    border:                 1px solid #BBB;
    background:             #FFF;
}